@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #444;
    font-family: $titleFont;
}

.app {
    background-color: white;
    height: 100vh;
    display: flex;
}

.main {
    width: 100%;
    border-left: 1px solid $lineColor;

}