@import "../variables.scss";

.nav{ 
    display: flex;
    justify-content: space-between;
    height:100px;
    padding: 16px;
    padding-left: 32px;    
    color:black;
    font-family: $titleFont;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid $lineColor;
    align-items: center;
  

}

.icons-nav {
    display: flex;
    justify-content: end;
    
    & > p { 
        margin-right: 16px;
    }
    
}